<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="dao.SubjectDao">

    <!-- 根据学号  与  学期  查询 课表（指定）    :  注意:oracle  需要指定  表空间 -->
    <select id="findSubjetByXHAndXQDM"    resultType="pojo.Subject">
        SELECT
            XSXM,  KCMC,  XQJ,  ZZT,  KSJC, JSJC, KSSJ, JSXM, JSGH,  SKJSMC, SKJSDM,CZLX
        FROM
          "USR_ZSJ"."T_KBAP"  kbap,
          ( SELECT XKKH, KCMC, XSXM FROM "USR_ZSJ"."XSXKXX" WHERE XH = #{XH} AND XQDM = #{XQDM} ) temp
       WHERE
	      KCXH = XKKH
	      AND CZLX IN ('I','U')
	      ORDER BY ZZT  DESC
    </select>

    <select id="findUSubjetByXHAndXQDM"    resultType="pojo.Subject">
        SELECT
        XSXM,  KCMC,  XQJ,  ZZT,  KSJC, JSJC, KSSJ, JSXM, JSGH,  SKJSMC, SKJSDM,CZLX
        FROM
        "USR_ZSJ"."T_KBAP"  kbap,
        ( SELECT XKKH, KCMC, XSXM FROM "USR_ZSJ"."XSXKXX" WHERE XH = #{XH} AND XQDM = #{XQDM} ) temp
        WHERE
        KCXH = XKKH   AND  CZLX = 'U'  ORDER BY ZZT DESC
    </select>

    <!-- 根据学号  与  学期  查询 课表 (自选)    :  注意:oracle  需要指定  表空间 -->
    <select id="findSubjetByXHAndXQDMAndCZLX"    resultType="pojo.Subject">
       SELECT
	      XSXM,  KCMC,  XQJ,  ZZT,  KSJC, JSJC, KSSJ, JSXM, JSGH,  SKJSMC, SKJSDM,CZLX
      FROM
	     "USR_ZSJ"."T_KBAP"  kbap,
    	( SELECT XKKH,KCMC,XSXM FROM "USR_ZSJ"."XSXKXX" WHERE XH = #{XH} AND XQDM = #{XQDM} ) temp
      WHERE
	      KCXH = XKKH
	      AND CZLX IN ('I','U')
          ORDER BY  ZZT DESC
    </select>



    <!--  查询学期 -->
    <select id="findXQDM" resultType="String" >
        SELECT DISTINCT
            XQDM
        FROM
            "USR_ZSJ"."XSXKXX"
    </select>


    <!--查询用户信息-->
    <select id="findUserByXGH" resultType="pojo.BaseUser" >
        SELECT
	      XGH,SFMC,SFZ,XM
        FROM
	      "USR_ZSJ"."CARDINFO"
        WHERE
	      XGH = #{XGH}
    </select>

    <!--查询教师的课表 -->
    <select id="findSubjetByXGHAndXQDM" resultType="pojo.Subject">
	SELECT
    DISTINCT
		KCMC,  XQJ,  ZZT,  KSJC, JSJC, KSSJ, JSXM, JSGH,  SKJSMC, SKJSDM,temp.CZLX
	from
		"USR_ZSJ"."XSXKXX" xsxkxx,
	    (SELECT   KCXH ,XQJ,ZZT,KSJC,JSJC,KSSJ,JSXM,JSGH,SKJSMC,SKJSDM,CZLX from  "USR_ZSJ"."T_KBAP" where JSGH =#{XGH} AND XQ=#{XQDM})	temp
	where
		XKKH = KCXH
		AND temp.CZLX IN ('I','U')
		ORDER BY  ZZT DESC
    </select>
</mapper>